{
  "region": "oss-cn-hangzhou",
  "endpoint": "https://oss-cn-hangzhou.aliyuncs.com",
  "credentials": {
    "accessKeyId": "LTAI5tGeQxdU1xYjrjd8EJEU",
    "secretAccessKey": ""
  },
  "Bucket": "s3-crud"
}